/* Estilo general del h1 */
h1 {
    background: linear-gradient(
        to right,
        #eceff1,
        #ffffff
    );
    color: #607d8b;
    text-align: center;
    font-family: "Century Gothic", Arial, sans-serif;
    padding: 20px;
}

/* Estilo del menú de navegación */
nav {
    background: linear-gradient(
        to right,
        #455a64,
        #607d8b
    );

    padding: 18px;

    display: flex;
    justify-content: center;
    gap: 30px;

    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

/* Estilo de los enlaces del menú de navegación */
nav a {
    color: white;
    text-decoration: none;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

/* Estilo de los enlaces del menú de navegación al pasar el mouse */
nav a:hover {
    color: #ffd54f;
}

/* Estilo de la sección */
img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 0 0 15px 15px;
}